extends layout

block content
        div(data-role="page")#statPage
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#", data-icon="home", data-iconpos="notext") Home
                div(data-role="content")
                        div(style="text-align:center;")
                            h3#bigTraceTitle Trace <i>!</i>
                            //-p Navigate through the irregularities of Nigeria road. 
                            //-p Locate any residence, home or public building with their trace code.
                            //-p That's right! Trace is a new and effective addressing system in Nigeria. 
                            p Old School, <strike><address>"No. 12 D.B Zang Way, <br/> formally  Ibrahim Taiwo Road<br/>@ Nignux Technologies Ltd.<br/>Jos, Nigeria"</address></strike>
                            p What's <em>New?</em>
                            p(style="font-weight: bolder;").blink Trace
                        div(style="text-align:center;")
                                a(href="#", data-role="button", data-inline="true", data-shadow="true",data-icon="grid",data-corners="false", data-theme="b")#CheckForForSession Sign in
                                span or 
                                a(href="#registerNewUserPage") Sign Up
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace
        div(data-role="dialog").dialog-actionsheet#sharebox
                div(data-role="content" data-theme="a")
                        h3 Share
                        a(href="#ContactList" data-role="button", data-theme="b")#shareViaSMS SMS
                        //-a(href="" data-role="button", data-theme="d") Bluetooth
                        //-a(href="" data-role="button", data-theme="d") Share on Facebook
                        //-a(href="#" data-role="button", data-theme="d", data-rel="back")#cancelShare Cancel


        div(data-role="page")#ContactList
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                div(data-role="content")
                        h3 Contact List
                        //-p Please select the contact you would like to send Trace code.
                        p Not supported yet.
                        br
                        //-ul(data-role="listview", data-inset="true" data-filter="true", data-filter-placeholder="Search name...", data-filter-theme="d", data-theme="d", data-divider-theme="d")
                            li
                                a(href="#") Adams Aremu - 08036504287
                            li
                                a(href="#") Joyce Aremu - 08121140278
                            li
                                a(href="#") Daser Retnan - 08121140278
                            li
                                a(href="#") Daser David - 08121140278
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace



        div(data-role="page")#loginPage
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#statPage", data-icon="home", data-iconpos="notext") Home
                        a(href="#statPage", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        h3 Login
                        div(style="display: none;", data-role="content", data-theme="d").retnaninfoBox
                                p.infoboxmesg Oopse!
                        form(action="#", method="POST")
                                ul(data-role="listview", data-inset="true", data-theme="d", data-dividertheme="c")
                                        li(data-role="list-divider") Info
                                        li(data-role="fieldcontain")
                                                label(for="userCode")
                                                        p Username
                                                input(type="text", name="userCode", value="", placeholder="user66", data-mini="true")#usercode
                                        li(data-role="fieldcontain")
                                                label(for="passCode") 
                                                        p Password
                                                input(type="password", name="passCode", value="", placeholder="Yo3424gs", data-mini="true")#passcode
                                        li(Data-role="fieldcontain")
                                                div(style="text-align:center;")
                                                        a(href="#", data-role="button", data-inline="true", data-icon="gear", data-shadow="true", data-corners="false", data-theme="b")#authenticate Enter
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace






        div(data-role="page")#registerNewUserPage
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#statPage", data-icon="home", data-iconpos="notext") Home
                        a(href="#statPage", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        h3 Sign Up
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        p Please, feel free to lie, but trace would need the lies back.
                        form(action="#", method="POST")
                                ul(data-role="listview", data-inset="true", data-theme="d", data-dividertheme="c")
                                        li(data-role="list-divider") Info
                                        li(data-role="fieldcontain")
                                                label(for="usercode")
                                                        p Username
                                                input(type="text", name="rusercode", placeholder="user234", data-mini="true")#rusercode
                                        li(data-role="fieldcontain")
                                                label(for="passcode")
                                                        p Password
                                                input(type="password", name="rpasscode", placeholder="112@p0p23#", data-mini="true")#rpasscode
                                        li(data-role="list-divider") Security Questions
                                        li(data-role="fieldcontain")
                                                //-label(for="animal")
                                                p #1 If you were to be an animal, which one would you be?
                                                input(type="text", name="qanimal", placeholder="goat?", data-mini="true")#qanimal
                                        li(data-role="fieldcontain")
                                                //-label(for="mother")
                                                p #2 What is the last letter of your mother's maiden name?
                                                input(type="text", name="qmother", placeholder="b?", data-mini="true")#qmother
                                        li(data-role="fieldcontain")
                                                //-label(for="space")
                                                p #3 If you were to fly to space what part of space would you like to be?
                                                input(type="text", name="qspace",placeholder="mars", data-mini="true")#qspace
                                        li(Data-role="fieldcontain")
                                                div(style="text-align:center;")
                                                        a(href="#", data-role="button", data-inline="true", data-icon="check", data-shadow="true", data-corners="false", data-theme="b")#regUserNew Register
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace
        




        div(data-role="page")#profilePage
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#", data-icon="home", data-iconpos="notext") Home
                        a(href="#about", data-icon="info", data-iconpos="notext")
                div(data-role="content")
                        h3 Hi.
                        ul(data-role="listview", data-inset="true", data-theme="d", data-dividertheme="c")
                                li(data-role="list-divider") STATIC
                                li(data-icon="home")
                                        a(href="#homePage").profileMenu
                                                h3(style="font-size: inherit;") Home
                                                p Share your location with your guests and friends
                                li(data-icon="grid")
                                        a(href="#work").profileMenu
                                                h3 Workplace
                                                p This represents your working place address
                                li
                                li(data-role="list-divider") DYNAMIC
                                li(data-icon="grid")
                                        a(href="#mobilepageinit").profileMenu
                                                h3 Mobile
                                                p Let someone locate you by sharing your current trace code
                                //-li(data-icon="grid")
                                        a(href="#eventpageinit").profileMenu
                                                h3 Event
                                                p Organizing an event? share the location with guests, friends and family
                                li
                                li(data-role="list-divider") MAP
                                li(data-icon="arrow-r")
                                        a(href="#tracePage").profileMenu
                                                h3 Trace Target
                                                p Trace someone, targets with their trace code
                                li(data-role="list-divider") OTHERS
                                li(data-icon="info")
                                        a(href="#help").profileMenu What is Trace?
                                li(data-icon="gear")
                                        a(href="#settings").profileMenu
                                                h3 Settings
                                                p Logout, other settings
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace



        div(data-role="page")#about
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                div(data-role="content")
                        h3 TraceApp
                        p Trace Version 1.0 (Still Testing)
                        br
                        p 
                        adddress
                            center  Please keep in touch? <br/><br/> www.retnan.com/trace <br/> or <br/> dretnan@acm.org
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace




        div(data-role="page")#homePage
                div(data-role="header", data-theme="b")
                        h1 Home
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#profilePage", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        div(style="text-align:center")
                                //-img(src="/images/qrcode.jpg", align="center")#homeqrcode.ui-overlay-shadow
                                div(align="center")#homeqrcode
                                div(style="display: none;").retnaninfoBox
                                        p.infoboxmesg Oopse!
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed="false", data-collapsed-icon="info")
                                                h3 Info
                                                div#hExtraInfo
                                                        p Not available.
                        div(style="text-align:center;display:none")#DisplayVerticalHome
                                div(data-role="controlgroup").OrientationDependent
                                        a(href="#sharebox", data-role="button", data-transition="pop", data-shadow="true", data-icon="star", data-corners="false") Share
                                        a(href="#", data-role="button", data-theme="b", data-icon="refresh")#updateHomeLocation Update
                                        a(href="#", data-role="button", data-icon="refresh")#refreshHomeDOM Refresh
                        div(style="text-align:center;")#DisplayHorizontalHome
                                div(data-role="controlgroup", data-type="horizontal").OrientationDependent
                                        a(href="#sharebox", data-role="button", data-transition="pop", data-shadow="true", data-icon="star", data-corners="false") Share
                                        a(href="#", data-role="button", data-theme="b", data-icon="refresh")#updateHomeLocation_h Update
                                        a(href="#", data-role="button", data-icon="refresh")#refreshHomeDOM_h Refresh
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace


        div(data-role="page")#homeForm
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext", data-direction="reverse") Home
                        a(href="#homePage", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        form(action="#", method="POST")
                                ul(data-role="listview", data-inset="true", data-theme="d", data-dividertheme="c")
                                        li(data-role="list-divider") Home Info
                                        li(data-role="fieldcontain")
                                                //-label(for="homeaddresss")
                                                p The address (optional)
                                                textarea(name="homeaddress", placeholder="e.g Rukuba Road", data-mini="true")#homeaddress
                                        li(data-role="fieldcontain")
                                                label(for="homecitys") 
                                                        p City
                                                input(type="text", name="homecity", placeholder="Jos", data-mini="true")#homecity
                                        li(data-role="fieldcontain")
                                                label(for="homenearbys") 
                                                        p Nearby
                                                input(type="text", name="homenearby", placeholder="Satellite Market, Terminus etc.", data-mini="true")#homenearby
                                        li(data-role="fieldcontain")
                                                div(style="text-align:center;")
                                                        a(href="#", data-role="button", data-inline="true", data-icon="check", data-shadow="true", data-corners="false", data-theme="b")#createHome Save
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace







        div(data-role="page")#work
                div(data-role="header", data-theme="b")
                        h1 Workplace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#profilePage", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        div(style="text-align:center")
                                //-img(src="/images/qrcode.jpg", align="center")#workqrcode.ui-overlay-shadow
                                div(align="center")#workqrcode
                                div(style="display: none;").retnaninfoBox
                                        p.infoboxmesg Oopse!
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed="false", data-collapsed-icon="info")
                                                h3 Info
                                                div#wExtraInfo
                                                        p Not available.
                        div(style="text-align:center;display:none;")#DisplayVerticalWork
                                div(data-role="controlgroup").OrientationDependent
                                        a(href="#sharebox", data-role="button", data-transition="pop", data-shadow="true", data-icon="star") Share
                                        a(href="#workPage", data-role="button", data-theme="b", data-icon="refresh") Update
                                        a(href="#", data-role="button", data-icon="refresh")#refreshWorkDOM Refresh
                        div(style="text-align:center;")#DisplayHorizontalWork
                                div(data-role="controlgroup", data-type="horizontal").OrientationDependent
                                        a(href="#sharebox", data-role="button", data-transition="pop", data-shadow="true", data-icon="star") Share
                                        a(href="#workPage", data-role="button", data-theme="b", data-icon="refresh") Update
                                        a(href="#", data-role="button", data-icon="refresh")#refreshWorkDOM_h Refresh
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace



        div(data-role="page")#workPage
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext", data-direction="reverse") Home
                        a(href="#work", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        h3 Update Work Location
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        form(action="#", method="POST")
                                ul(data-role="listview", data-inset="true", data-theme="d", data-dividertheme="c")
                                        li(data-role="list-divider") Location
                                        li(data-role="fieldcontain")
                                                //-label(for="worknames")
                                                p Name of Business/Work
                                                input(type="text", name="workname", value="", placeholder="e.g Roxate Bank", data-mini="true")#workname
                                        li(data-role="fieldcontain")
                                                //-label(for="workcitys")
                                                p City of Business/work
                                                input(type="text", name="workcity", value="", placeholder="e.g Jos", data-mini="true")#workcity
                                        li(Data-role="fieldcontain")
                                                div(style="text-align:center;")
                                                        a(href="#", data-role="button", data-inline="true", data-icon="check", data-shadow="true", data-corners="false", data-theme="b")#searchworkplace Next
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace



        div(data-role="page")#workresult
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext", data-direction="reverse") Home
                        a(href="#workPage", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        h3 Search Result
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        p Please select the place of work below
                        form(action="#", method="POST")
                                 ul(data-role="listview", data-inset="true", data-theme="d", data-dividertheme="c")
                                        li(data-role="list-divider") Select
                                        li(data-role="fieldcontain")
                                                fieldset(data-role="controlgroup", data-mini="true")
                                                        input(type="radio", name="radiowork", value="0", checked="checked")#radio-choice-1
                                                        label(for="radio-choice-1") Not Listed Below
                                                        //-input(type="radio", name="radiowork", value="4223")#radio-choice-2
                                                        //-label(for="radio-choice-2") Diamond Bank - Ahmadu Bello Way, Jos
                                                        //-input(type="radio", name="radiowork", value="525343245")#radio-choice-3
                                                        //-label(for="radio-choice-3") Diamond Bank - Murtala Mohammed Way Way, Jos
                                                        //-input(type="radio", name="radiowork", value="3253412")#radio-choice-4
                                                        //-label(for="radio-choice-4") Diamond Bank - Beach Road, Jos
                                        li(Data-role="fieldcontain")
                                                div(style="text-align:center;")
                                                        a(href="#workgeo", data-role="button", data-inline="true", data-icon="check", data-shadow="true", data-corners="false", data-theme="b")#gpsorcongrat Next
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace



        div(data-role="page")#workgeo
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext", data-direction="reverse") Home
                        a(href="#workresult", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        h3 Create Workplace
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        p Make sure you are in your place of work.
                        div(style="text-align:center;")
                                a(href="#", data-role="button", data-inline="true", data-icon="check", data-shadow="true", data-corners="false", data-theme="d")#readWorkLocation Read Location
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace



        div(data-role="page")#workform
                div(data-role="header", data-theme="b")
                    h1 Trace
                    a(href="#profilePage", data-icon="home", data-iconpos="notext", data-direction="reverse") Home
                    a(href="#workgeo", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        h3 Work Details
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        form(action="#", method="POST")
                                ul(data-role="listview", data-inset="true", data-theme="d", data-dividertheme="c")
                                        li(data-role="list-divider") Info
                                        li(data-role="fieldcontain")
                                                //-label(for="workadresss")
                                                p The address of Business if available
                                                textarea(name="workaddress", data-mini="true")#workaddress
                                        li(data-role="fieldcontain")
                                                //-label(for="worktags")
                                                p Work Tag (comma separated)
                                                input(type="text", name="worktag", placeholder="Bank, Money, ATM", data-mini="true")#worktag
                                        li(data-role="fieldcontain")
                                                //-label(for="worknearbys")
                                                p Work Nearby (comma separated)
                                                input(type="text", name="worknearby", placeholder="Nignux Technologies", data-mini="true")#worknearby
                                        li(Data-role="fieldcontain")
                                                div(style="text-align:center;")
                                                        a(href="#", data-role="button", data-inline="true", data-icon="check", data-shadow="true", data-corners="false", data-theme="b")#createWork Create
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace



        div(data-role="page")#workMap
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#tracePage", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        div(style="text-align:center;display:none")#DisplayVerticalWorkMap
                                div(data-role="controlgroup").OrientationDependent
                                        a(href="", data-role="button", data-icon="grid")#wtrack Track
                                        a(href="", data-role="button", data-icon="arrow-r")#tracework Trace
                                        a(href="", data-role="button", data-icon="refresh")#wrefresh Refresh
                                        //-select(name="motionmode", data-mini="true")#wmotionmode
                                                option(value="driving") Driving
                                                option(value="walking") Walking
                        div(style="text-align:center;")#DisplayHorizontalWorkMap
                                div(data-role="controlgroup", data-type="horizontal").OrientationDependent
                                        a(href="", data-role="button", data-icon="grid")#wtrack_h Track
                                        a(href="", data-role="button", data-icon="arrow-r")#tracework_h Trace
                                        a(href="", data-role="button", data-icon="refresh")#wrefresh_h Refresh
                                        //-select(name="motionmode", data-mini="true")#wmotionmode
                                                option(value="driving") Driving
                                                option(value="walking") Walking
                        br
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        div(style="text-align:center;")
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed-icon="info")
                                                h3 Info
                                                div#wwExtraInfo
                                                        p Not available.
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed-icon="info")
                                                h3 Direction
                                                div#workinfoBox
                                                        div(style="text-align:center;")#winfoDirPanel
                        div(style="height:400px;width:100%")#workmap_canvas
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace




        div(data-role="page")#mobilepageinit
                div(data-role="header", data-theme="b")
                        h1 Mobile
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#profilePage", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        div(style="text-align:center")
                                //-img(src="/images/qrcode.jpg", align="center")#mobileqrcode.ui-overlay-shadow
                                div(align="center")#mobileqrcode
                                div(style="display: none;").retnaninfoBox
                                        p.infoboxmesg Oopse!
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed="false", data-collapsed-icon="info")
                                                h3 Info
                                                div#mExtraInfo
                                                        p Not available.
                                                div(style="text-align:center;")
                                                        a(href="#", data-role="button", data-inline="true",  data-theme="c", data-mini="true", data-icon="refresh")#refreshMobileInfo Refresh
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed="true", data-collapsed-icon="info")
                                                h3 Visibility Request
                                                div#mRequestInfo
                                                        p You currently do not have request. Share your mobile trace code to enable them see you on their maps
                                                div(style="text-align:center;display:none;")#authorizeIt
                                                        a(href="#", data-role="button", data-inline="true",  data-theme="c", data-mini="true",  data-theme="d", data-icon="check")#authorizeDynBtn Accept
                                                        a(href="#", data-role="button", data-inline="true",  data-theme="c", data-mini="true", data-icon="delete")#rejectDynBtn Reject
                                                div(style="text-align:center;")
                                                        a(href="#", data-role="button", data-inline="true",  data-theme="c", data-mini="true")#refreshCheckRequest Refresh
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed="true", data-collapsed-icon="info")
                                                h3 Pending Request
                                                div#mPendingRequest
                                                        p You have no pending request.
                                                div(style="text-align:center;")
                                                        a(href="#", data-role="button", data-inline="true",  data-theme="c", data-mini="true", data-icon="refresh")#refreshPendingRequest Refresh
                                                        a(href="#", data-role="button", data-inline="true",  data-theme="c", data-mini="true", style="display: none;", data-icon="info")#seeTargetonMap See target
                        br
                        div(style="text-align:center; display:none;")#DisplayVerticalMobile
                                div(data-role="controlgroup", data-mini="true").OrientationDependent
                                        a(href="#sharebox", data-role="button", data-transition="pop", data-shadow="true", data-icon="star") Share
                                        a(href="#mobilePage", data-role="button", data-theme="b", data-shadow="true", data-icon="plus")#mobileBtn.ui-disabled Generate
                                        a(href="#", data-role="button", data-shadow="true", data-icon="minus")#mobileDestroyer.ui-disabled Destroy
                                        a(href="#", data-role="button", data-shadow="true", data-icon="info")#seeTargetsonMap.ui-disabled  See target(s)
                        div(style="text-align:center;")#DisplayHorizontalMobile
                                div(data-role="controlgroup", data-mini="true", data-type="horizontal").OrientationDependent
                                        a(href="#sharebox", data-role="button", data-transition="pop", data-shadow="true", data-icon="star") Share
                                        a(href="#mobilePage", data-role="button", data-theme="b", data-shadow="true", data-icon="plus")#mobileBtn_h.ui-disabled Generate
                                        a(href="#", data-role="button", data-shadow="true", data-icon="minus")#mobileDestroyer_h.ui-disabled Destroy
                                        a(href="#", data-role="button", data-shadow="true", data-icon="info")#seeTargetsonMap_h.ui-disabled  See target(s)
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace



        div(data-role="page")#mobilePage
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#mobilepageinit", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        h3 Create Mobile Location
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        p Note: Mobile traceid expires when it is destroyed.
                        form(action="#", method="POST")
                                div(style="text-align:center")
                                        a(href="#", data-role="button", data-inline="true", data-icon="check", data-shadow="true", data-corners="false", data-theme="d")#CreateMobile Create Trace Code
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace



        div(data-role="page")#mobileMap
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#mobilepageinit", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        div(style="text-align:center;display:none;")#DisplayVerticalMobileMap
                                div(data-role="controlgroup").OrientationDependent
                                        a(href="", data-role="button", data-icon="grid")#mtrack Track
                                        a(href="", data-role="button", data-icon="arrow-r")#tracesinglemap Trace
                                        a(href="", data-role="button", data-icon="refresh")#mrefresh Refresh
                                        //-select(name="motionmode", data-mini="true")#mmotionmode
                                                option(value="driving") Driving
                                                option(value="walking") Walking
                        div(style="text-align:center;")#DisplayHorizontalMobileMap
                                div(data-role="controlgroup", data-type="horizontal").OrientationDependent
                                        a(href="", data-role="button", data-icon="grid")#mtrack_h Track
                                        a(href="", data-role="button", data-icon="arrow-r")#tracesinglemap_h Trace
                                        a(href="", data-role="button", data-icon="refresh")#mrefresh_h Refresh
                                        //-select(name="motionmode", data-mini="true")#mmotionmode
                                                option(value="driving") Driving
                                                option(value="walking") Walking
                        br
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        div(style="text-align:center;")
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed-icon="info")
                                                h3 Info
                                                div#mmExtraInfo
                                                        p Not available.
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed-icon="info")
                                                h3 Direction
                                                div#mobileinfoBox
                                                        div(style="text-align:center;")#minfoDirPanel
                        div(style="height:400px;width:100%")#mobilemap_canvas
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace




        div(data-role="page")#mobilemultiMap
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#mobilepageinit", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        div(style="text-align:center;display:none;")#DisplayVerticalMobileMultiMap
                                div(data-role="controlgroup").OrientationDependent
                                        a(href="", data-role="button", data-icon="grid")#mmultitrack Track
                                        a(href="", data-role="button", data-icon="arrow-r")#tracemultimap Trace
                                        a(href="", data-role="button", data-icon="refresh")#mmrefresh Refresh
                                        //-select(name="motionmode", data-mini="true")#mmultiotionmode
                                                option(value="driving") Driving
                                                option(value="walking") Walking
                        div(style="text-align:center;")#DisplayHorizontalMobileMultiMap
                                div(data-role="controlgroup", data-type="horizontal").OrientationDependent
                                        a(href="", data-role="button", data-icon="grid")#mmultitrack_h Track
                                        a(href="", data-role="button", data-icon="arrow-r")#tracemultimap_h Trace
                                        a(href="", data-role="button", data-icon="refresh")#mmrefresh_h Refresh
                                        //-select(name="motionmode", data-mini="true")#mmultiotionmode
                                                option(value="driving") Driving
                                                option(value="walking") Walking
                        br
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        div(style="text-align:center;")
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed-icon="info")
                                                h3 Info
                                                div#mmmultiExtraInfo
                                                        p Not available.
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed-icon="info")
                                                h3 Direction
                                                div#mobilemultiinfoBox
                                                        div(style="text-align:center;")#mmultiinfoDirPanel                        
                        div(style="height:400px;width:100%")#multimapmap_canvas
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace



        div(data-role="page")#mobileRequest
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#tracePage", data-icon="arrow-l", data-rel="back", data-iconpos="notext") Back
                div(data-role="content")
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        h3 Visibility Request
                        p After authorization, you should be able to see target on your device map. Note that target would be able to see you too.
                        form(action="#", method="POST")
                                div(data-role="fieldcontain")
                                        p Specify a name (nick name preferred) target can identify you with
                                        input(type="text", name="mobilenickname", value="", placeholder="e.g onebase")#mobilenickname
                                div(style="text-align:center")
                                        a(href="#", data-role="button", data-inline="true", data-icon="check", data-shadow="true", data-corners="false", data-theme="d", data-transition="pop")#makeRequest Make Request
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace


        //-div(data-role="page")#eventpageinit
                div(data-role="header", data-theme="b")
                        h1 Event
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#profilePage", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        div(style="text-align:center")
                                //-img(src="/images/qrcode.jpg", align="center")#eventqrcode.ui-overlay-shadow
                                div(align="center")#eventqrcode
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed="false", data-collapsed-icon="info")
                                                h3 Info
                                                div#eExtraInfo
                                                        p Not available.
                        div(style="text-align:center;display:none;")#DisplayVerticalEvent
                                div(data-role="controlgroup", data-mini="true").OrientationDependent
                                        a(href="#sharebox", data-role="button", data-transition="pop", data-icon="star", data-shadow="true") Share
                                        a(href="#", data-role="button", data-icon="minus", data-shadow="true")#eventDestroyer Destroy
                                        a(href="#eventPage", data-role="button", data-theme="b", data-icon="plus", data-shadow="true")#eventBtn Create Event
                                        a(href="#", data-role="button", data-icon="refresh")#refreshEventDOM Refresh
                        div(style="text-align:center;")#DisplayHorizontalEvent
                                div(data-role="controlgroup", data-mini="true", data-type="horizontal").OrientationDependent
                                        a(href="#sharebox", data-role="button", data-transition="pop", data-icon="star", data-shadow="true") Share
                                        a(href="#", data-role="button", data-icon="minus", data-shadow="true")#eventDestroyer Destroy
                                        a(href="#eventPage", data-role="button", data-theme="b", data-icon="plus", data-shadow="true")#eventBtn Create Event
                                        a(href="#", data-role="button", data-icon="refresh")#refreshEventDOM Refresh
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace



        //-div(data-role="page")#eventPage
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext", data-direction="reverse") Home
                        a(href="#eventpageinit", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        h3 Create Event
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        p Make sure you are in your event venue or place.
                        div(style="text-align: center")
                                a(href="#", data-role="button", data-inline="true", data-icon="check", data-shadow="true", data-corners="false", data-theme="d")#readEventLocation Read Location
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace




        //-div(data-role="page")#eventForm
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext", data-direction="reverse") Home
                        a(href="#eventPage", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        h3 Create Event
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        form(action="#", method="POST")
                                ul(data-role="listview", data-inset="true", data-theme="d", data-dividertheme="c")
                                        li(data-role="list-divider") Event Info
                                        li(data-role="fieldcontain")
                                                label(for="nameofplaces")
                                                        p Name of Place
                                                input(type="text", name="nameofplace", data-mini="true", placeholder="e.g Central Hotel?")#nameofplace
                                        li(data-role="fieldcontain")
                                                label(for="eventcitys")
                                                        p City
                                                input(type="text", name="eventcity", placeholder="e.g Jos?", data-mini="true")#eventcity
                                        li(data-role="fieldcontain")
                                                label(for="eventcategorys")
                                                        p Event Category
                                                input(type="text", name="eventcategory", placeholder="e.g Wedding?", data-mini="true")#eventcategory
                                        li(data-role="fieldcontain")
                                                label(for="eventnearbys")
                                                        p Nearby (comma separated)
                                                input(type="text", name="eventnearby", placeholder="e.g Bar?", data-mini="true")#eventnearby
                                        li(data-role="fieldcontain")
                                                label(for="eventaddresss")
                                                        p The address of where the event is taking place if available
                                                textarea(name="eventaddress")#eventaddress
                                        li(data-role="fieldcontain")
                                                label(for="eventnotes")
                                                        p Additional note for the attendees
                                                textarea(name="eventnote")#eventnote
                                         li(data-role="fieldcontain")
                                                label(for="flip-a") Public
                                                select(name="visibility", data-role="slider")#flip-a
                                                        option(value="private") Off
                                                        option(value="public") On
                                        li(Data-role="fieldcontain")
                                                div(style="text-align:center;")
                                                        a(href="#", data-role="button", data-inline="true", data-icon="check", data-shadow="true", data-corners="false", data-theme="b")#createEvent Create
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace


        //-div(data-role="page")#eventMap
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#eventpageinit", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        div(style="text-align:center;display:none;")#DisplayVerticalEventMap
                                div(data-role="controlgroup").OrientationDependent
                                        a(href="", data-role="button", data-icon="grid")#etrack Track
                                        a(href="", data-role="button", data-icon="arrow-r")#traceevent Trace
                                        a(href="", data-role="button", data-icon="refresh")#erefresh Refresh
                                        //-select(name="motionmode", data-mini="true")#emotionmode
                                                option(value="driving") Driving
                                                option(value="walking") Walking
                        div(style="text-align:center;")#DisplayHorizontalEventMap
                                div(data-role="controlgroup", data-type="horizontal").OrientationDependent
                                        a(href="", data-role="button", data-icon="grid")#etrack Track
                                        a(href="", data-role="button", data-icon="arrow-r")#traceevent Trace
                                        a(href="", data-role="button", data-icon="refresh")#erefresh Refresh
                                        //-select(name="motionmode", data-mini="true")#emotionmode
                                                option(value="driving") Driving
                                                option(value="walking") Walking
                        br
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        div(style="text-align:center;")
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed-icon="info")
                                                h3 Info
                                                div#eeExtraInfo
                                                        p Not available.
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed-icon="info")
                                                h3 Direction
                                                div#eventinfoBox
                                                        div(style="text-align:center;")#einfoDirPanel
                        div(style="height:400px;width:100%")#eventmap_canvas
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace


        div(data-role="page")#help
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#profilePage", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        h3 What's Trace?
                        p Trace uses a state-of-the-art and advanced technology to accurately locate whatever it is you want to locate. 
                        p It let's you locate friends, family, businesses with their Trace code.
                        p All you have to do is ask your friend for their trace codes, and behold, Trace will tell you where they are even if they are moving or stationary.
                        p Find out up coming event near you and so much more
                        h3 Security
                        p Your personal information was not collected to get you through here.
                        p On how ends, everything is but a bunch of numbers and hashes.
                        p Nobody knows anybody. We don't know your username or password
                        p If you do forget your password or username, you would provide the answers you were asked during registration plus trace would ask you a couple of questions to help you recover your account.
                        p The more you Trace, the better.   
                        div(style="text-align:center;")
                                a(href="#help2", data-role="button", data-inline="true",  data-theme="d") How it works
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace



        div(data-role="page")#help2
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#help", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        h2 How Trace Works?
                        h3 The Problem
                        p Considering Jos, Nigeria; a city with montainous terrain and iregular addressing system with homes up and down the mountains. In that case, you want to visit a friend then we have a problem.
                        h3 Solution
                        p With Trace, ask your friend for her trace code, enter it into your traceapp, and whoopse! your friend can see you coming on his device (phone) as you navigate towards her/his current location with your device (phone, tablets etc).
                        div(style="text-align:center;")
                                a(href="#help", data-role="button", data-inline="true",  data-theme="d") Return
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace


        div(data-role="page")#settings
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#profilePage", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        h2 Settings
                        div(style="text-align:center;")
                            a(href="#logout", data-role="button", data-inline="true", data-icon="refresh")#logout Logout
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace



        div(data-role="page")#traceMap
                div(data-role="header", data-theme="b")
                        h1 Trace
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#homePage", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        div(style="text-align:center;display:none;")#DisplayVerticalHomeMap
                                div(data-role="controlgroup").OrientationDependent
                                        a(href="", data-role="button", data-icon="grid")#htrack Track
                                        a(href="", data-role="button", data-icon="arrow-r")#tracehome Trace
                                        a(href="", data-role="button", data-icon="refresh")#hrefresh Refresh
                                        //-select(name="motionmode", data-mini="true")#hmotionmode
                                                option(value="driving") Driving
                                                option(value="walking") Walking
                        div(style="text-align:center;")#DisplayHorizontalHomeMap
                                div(data-role="controlgroup", data-type="horizontal").OrientationDependent
                                        a(href="", data-role="button", data-icon="grid")#htrack_h Track
                                        a(href="", data-role="button", data-icon="arrow-r")#tracehome_h Trace
                                        a(href="", data-role="button", data-icon="refresh")#hrefresh_h Refresh
                                        //-select(name="motionmode", data-mini="true")#hmotionmode
                                                option(value="driving") Driving
                                                option(value="walking") Walking
                        br
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        div(style="text-align:center;")
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed-icon="info")
                                                h3 Info
                                                div#hhExtraInfo
                                                        p Not available.
                                div(data-role="collapsible-set", data-mini="true", data-content-theme="d")
                                        div(data-role="collapsible", data-collapsed-icon="info")
                                                h3 Direction
                                                div#homeinfoBox
                                                        div(style="text-align:center;")#hinfoDirPanel
                        div(style="height:400px;width:100%")#homemap_canvas
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace



        div(data-role="page")#tracePage
                div(data-role="header", data-theme="b")
                        h1 Trace Target
                        a(href="#profilePage", data-icon="home", data-iconpos="notext") Home
                        a(href="#profilePage", data-icon="arrow-l", data-iconpos="notext") Back
                div(data-role="content")
                        //-div(style="text-align:center;")
                                a(href="#", data-role="button", data-inline="true") Scan Trace Code!
                        div(style="display: none;").retnaninfoBox
                                p.infoboxmesg Oopse!
                        form(method="POST", action="")
                                div(data-role="fieldcontain")
                                        p Target's Trace Code
                                        input(type="text", name="trace", value="", placeholder="e.g e4ac3e62a5dde93128711a0a345ef1c1")#codetotrace
                                        p
                        hr
                        p Click trace! to view target's current location on map. 
                        p Note, target will see you on his map (if target's trace code is private) and may pull the plug (destroy) if/when they want.
                        p Target will not see you on trace for public trace codes.
                        div(style="text-align:center;")
                                a(href="#", data-role="button", data-inline="true", data-icon="check", data-shadow="true", data-corners="false", data-theme="b")#traceNow Trace!
                                a(href="#", data-role="button", data-inline="true", data-icon="gear", data-shadow="true", data-corners="false")#traceDemo Demo!
                //-div(data-role="popup")#retnaninfoBox
                        div(data-role="header" data-theme="d")
                                h3 Message
                        div(data-role="content" data-theme="d")
                                p#infoboxmesg Oopse!
                                div(style="text-align:center;")
                                        a(href="#" data-role="button", data-inline="true", data-theme="d", data-rel="back") Got it!
                div(data-role="footer", data-position="fixed", data-id="oneFoot", data-theme="c").retnanFooter
                        h3 &copy Trace
