doctype 5
html
        head
                title= title
                meta(charset="utf-8")
                meta(name="format-detection", content="telephone=no")
                meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1,height=device-height, target-densitydpi=device-dpi")
                //-link(rel='stylesheet', href="/stylesheets/kendo.dataviz.min.css")
                //-link(rel='stylesheet', href="/stylesheets/jq1.0/jquery.mobile-1.2.1.min.css")
                link(rel='stylesheet', href="/stylesheets/jq/jquery.mobile-1.4.2.min.css")
                link(rel='stylesheet', href="/stylesheets/trace.css")
                script(type="text/javascript", src="phonegap.js")
                //-script(type="text/javascript", src="/javascripts/jq1.0/jquery.js")
                script(type="text/javascript", src="/javascripts/jq/jquery-2.1.1.min.js")
                script(type="text/javascript", src="/javascripts/kendo.dataviz.min.js")
                //-script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbEOIOoYMTyy7UspDQc5SQaLBySb3wI0w&sensor=true")
                script(type="text/javascript", src="/javascripts/config.js")
                script(type="text/javascript", src="/javascripts/tracesingle.min.js")
                //-script(type="text/javascript", src="/javascripts/jq1.0/jquery.mobile-1.2.1.min.js")
                script(type="text/javascript", src="/javascripts/jq/jquery.mobile-1.4.2.min.js")
        body
                block content
                script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbEOIOoYMTyy7UspDQc5SQaLBySb3wI0w&sensor=true")