@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.retnaninfoBox{
	background-color: white;
	min-height: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #336633;
}

p.infoboxmesg{
	color: #336633;
	font-size: 11px;
    font-weight: lighter;
}
